# 1️⃣ Virtual Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.env/


# 2️⃣ Application Data & Temporary Files
automation_api_vms/data/credentials.json
automation_api_vms/data/unique_email.txt
automation_api_vms/data/last_position.txt
automation_api_vms/data/test_data.json
automation_api_vms/data/vendor_data.txt
automation_api_vms/test_Report/reports.html
automation_api_vms/test_Report/login_responses.txt



# 3️⃣ Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd


# 4️⃣ IDE and Editor Configs
.idea/
.vscode/
*.swp  # Vim swap files